@inject ILabelDeferredValue labelDeferredValue
@model Gouda.Application.Queries.DisplaySatellite.Domain.DisplaySatelliteResult
@{
    ViewData["Title"] = Model.Satellite.Name;
}
<div style="padding: 10px">
    <gouda-viewModel view-model="Model.Satellite" />
</div>

@section GlobalStyles
{
    <link rel="stylesheet" href="~/css/satellite.css" />
}
