@model Gouda.Application.Queries.ListSatellites.Domain.ListSatellitesResult
@{
    ViewData["Title"] = "Satellites";
    AddSatelliteViewModel addViewModel = new AddSatelliteViewModel();
}
<div class="list-satellites">
    <gouda-viewModel view-model="addViewModel" />
    <hr />
    <table class="summary-table">
        <thead>
            <tr>
                <th><gouda-label key="@Model.NameHeaderLabel" /></th>
                <th><gouda-label key="@Model.IPHeaderLabel" /></th>
                <th><gouda-label key="@Model.StatusHeaderLabel" /></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var satellite in Model.Satellites)
            {
                <gouda-viewModel view-model="satellite" />
            }
        </tbody>
    </table>
</div>

@section GlobalStyles
{
    <link rel="stylesheet" href="~/css/satellite.css" />
    <style>
        .list-satellites {
            margin: 10px;
        }
    </style>
}

@section GlobalScripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("gouda-add-satellite .add-expander").click(toggleAddSatellite);
            $("gouda-add-satellite button").click(addSatellite);
        });

        function toggleAddSatellite() {
            toggleExpanded($("gouda-add-satellite"));
        }

        function addSatellite(args) {
            var button = $(args.currentTarget);
            var form = button.parent()[0];
            args.preventDefault();
            if (form.checkValidity()) {
                var destination = $(args.currentTarget).data("destination");
                var method = $(args.currentTarget).data("method");
                var data = $(form).serialize();
                form.reset();
                $.ajax({
                    url: destination,
                    method: method,
                    data: data,
                    success: submitSuccess,
                    failure: function () { alert("Failed to add satellite."); }
                });
            }
            else {
                form.reportValidity();
            }
        }

        function submitSuccess(data) {
            $(".summary-table tbody").append(data);
        }
    </script>
}