@model Gouda.Application.Queries.ListSatellites.Domain.ListSatellitesResult
@{
    AddSatelliteViewModel addViewModel = new AddSatelliteViewModel();
}
<div class="list-satellites">
    @await Component.InvokeAsync(addViewModel.ViewConcept, addViewModel)
    <hr />
    @await Component.InvokeAsync(Model.Satellites.ViewConcept, Model.Satellites)
</div>

@section GlobalStyles
{
    <link rel="stylesheet" href="~/css/satellite.css" />
    <style>
        .list-satellites {
            margin: 10px;
        }
    </style>
}

@section GlobalScripts
{
    <script src="~/js/satellite.js"></script>
    <script type="text/javascript">
        function submitSuccess(data) {
            $(".summary-table tbody").append(data);
        }
    </script>
}