@inject ILabelDeferredValue labelDeferredValue
@inject IDestinationDeferredValue destinationDeferredValue
@model WebAppViewModel<NavigationLeaf>
@{ 
    NavigationLeaf navigationLeaf = Model.Wrapped;
    var destinationItem = destinationDeferredValue[navigationLeaf.Destination];
}
@if (navigationLeaf.Glyph != null)
{
    <a class="gouda-nav-leaf root-leaf gouda-focusable" href="@Url.Action(destinationItem.Action, destinationItem.Controller)">
        <gouda-viewModel view-model="navigationLeaf.Glyph" />
        <div class="title"><gouda-label key="@navigationLeaf.Label" /></div>
    </a>
}
else
{
    <a class="gouda-nav-leaf group-leaf gouda-focusable" href="@Url.Action(destinationItem.Action, destinationItem.Controller)">
        <div class="title"><gouda-label key="@navigationLeaf.Label" /></div>
    </a>
}