@model NavigationTree
<nav class="gouda-nav-tree" aria-expanded="false">
    @foreach (NavigationSection section in Model.Sections)
    {
        @await Component.InvokeAsync(NavigationViewComponent.Name, section)
    }
</nav>

