@model NavigationLeaf
@if (Model.Glyph != null)
{
    <a class="gouda-nav-leaf root-leaf" href="@Model.Destination">
        @await Component.InvokeAsync(GlyphViewComponent.Name, Model.Glyph)
        <div class="title">@Model.Name</div>
    </a>
}
else
{
    <a class="gouda-nav-leaf group-leaf" href="@Model.Destination">
        <div class="title">@Model.Name</div>
    </a>
}