@model NavigationGroup
<gouda-nav-group aria-expanded="false">
    <div class="header">
        @await Component.InvokeAsync(GlyphViewComponent.Name, Model.Glyph)
        <div class="title">
            <div class="name">@Model.Name</div>
            @await Component.InvokeAsync(GlyphViewComponent.Name, MaterialIconGlyph.Nothing)
        </div>
    </div>
    <ul class="leaf-list">
        @foreach (NavigationLeaf leaf in Model.Leaves)
        {
            <li>@await Component.InvokeAsync(NavigationViewComponent.Name, leaf)</li>
        }
    </ul>
</gouda-nav-group>