@model WebAppViewModel
@{ 
    var navigationTree = Model.Unwrap<NavigationTree>();
}
<nav class="gouda-nav-tree" aria-expanded="false">
    @foreach (NavigationSection section in navigationTree.Sections)
    {
        <gouda-viewModel view-model="section" />
    }
</nav>

