@model NavigationGroup
@{ 
    var nothingGlyph = MaterialIconGlyphViewModel.Nothing;
}

<gouda-nav-group aria-expanded="false">
    <div class="header">
        <gouda-viewModel view-model="Model.Glyph" />
        <div class="title">
            <div class="name"><gouda-label key="@Model.Label" /></div>
            <gouda-viewModel view-model="nothingGlyph" />
        </div>
    </div>
    <ul class="leaf-list">
        @foreach (NavigationLeaf leaf in Model.Leaves)
        {
            <li><gouda-viewModel view-model="leaf" /></li>
        }
    </ul>
</gouda-nav-group>