@model WebAppViewModel<NavigationTree>
<nav class="gouda-nav-tree" aria-expanded="false">
    @foreach (NavigationSection section in Model.Wrapped.Sections)
    {
        <gouda-viewModel view-model="section" />
    }
</nav>

