@model WebAppViewModel
@{ 
    var navigationSection = Model.Unwrap<NavigationSection>();
}
<gouda-nav-section>
    <div class="title"><gouda-label key="@navigationSection.Label" /></div>
    <ul class="node-list">
        @foreach (var viewModel in navigationSection.ViewModels)
        {
            <li><gouda-viewModel view-model="viewModel" /></li>
        }
    </ul>
</gouda-nav-section>