@page "/"
@inject IJSRuntime JavaScript
@inject HttpClient Http
@inject ILoginRequestFactory LoginRequestFactory

<div id="login-test">
    <button @onclick="TestLogin">Login</button>
</div>

@code
{
    private async Task TestLogin()
    {
        string requestUrl = await LoginRequestFactory.Build(Http);
        await JavaScript.InvokeVoidAsync(JavaScriptFunctionNames.RedirectTo, requestUrl);
    }
}