.organization-summary {
    padding: 25px 10px;
    border: solid 1px var(--main-text);
    border-radius: 5px;
    background-image: linear-gradient(var(--dark), var(--darker));
    cursor: pointer;
}