@inject IDestinationDeferredValue destinationDeferredValue
@model WebAppViewModel<ButtonViewModel>
@{
    ButtonViewModel button = Model.Wrapped;
    string editableString = button.Editable ? string.Empty : "disabled";

    var destinationItem = destinationDeferredValue[button.Destination];
    string destination = string.Empty;
    string method = string.Empty;
    if (destinationItem != null)
    {
        destination = $"data-destination={Url.Action(destinationItem.Action, destinationItem.Controller)}";
        method = $"data-method={destinationItem.Method.Method}";
    }
}
<button id="@Model.ID" class="gouda-button gouda-focusable" @editableString @destination @method><gouda-label key="@button.Label" /></button>