@inject IDestinationAdapter destinationAdapter
@model FormViewModel
<form class="gouda-form" data-destination="@destinationAdapter.Adapt(Model.Destination)" data-success="submitSuccess">
    @if(Model.Label != LabelDeferredKey.None)
    {
        <div class="form-title"><gouda-label key="@Model.Label" /></div>
    }
    @foreach (var input in Model.Inputs)
    {
        <gouda-viewModel view-model="input" />
    }
</form>