@inject IDestinationAdapter destinationAdapter
@model FormViewModel
<form class="gouda-form" data-destination="@destinationAdapter.Adapt(Model.Destination)" data-success="submitSuccess">
    @if(Model.Title != null)
    {
        <div class="form-title">@Model.Title</div>
    }
    @foreach (var input in Model.Inputs)
        @await Component.InvokeAsync(InputViewComponent.Name, input)
</form>