@model WebAppViewModel<CompositeFieldViewModel>
<gouda-field>
    <label><gouda-label key="@Model.Wrapped.Label" /></label>
    <div class="field-value">
        <gouda-viewModel view-model="Model.Wrapped.ViewModel" />
    </div>
</gouda-field>