@model WebAppViewModel
@{ 
    var composite = Model.Unwrap<CompositeFieldViewModel>();
}
<gouda-field>
    <label><gouda-label key="@composite.Label" /></label>
    <div class="field-value">
        <gouda-viewModel view-model="composite.ViewModel" />
    </div>
</gouda-field>