@model WebAppViewModel
@{ 
    var textField = Model.Unwrap<TextFieldViewModel>();
}
<gouda-field>
    <label><gouda-label key="@textField.Label" /></label>
    <span class="field-value">@textField.Value</span>
</gouda-field>