@inject HttpClient Http
@inject NavigationManager Navigator

<EditForm Model="AddingOrganization" class="cheddar-form" OnValidSubmit="SubmitAddOrganization">
    <DataAnnotationsValidator />
    <div class="cheddar-input">
        <InputText id="@NameFieldName" @bind-Value="AddingOrganization.Name" />
        <label for="@NameFieldName">@NameFieldName</label>
        <ValidationMessage For="() => AddingOrganization.Name" />
    </div>
    <button type="submit">Submit</button>
</EditForm>

@code {
    private string NameFieldName => nameof(OrganizationViewModel.Name);

    private OrganizationViewModel AddingOrganization { get; } = new OrganizationViewModel();

    private async Task SubmitAddOrganization()
    {
        HttpResponseMessage response = await Http.PostAsJsonAsync("Organization/Add", AddingOrganization);
        if (response.IsSuccessStatusCode)
        {
            int newID = await response.Content.ReadFromJsonAsync<int>();
            Navigator.NavigateTo($"Organization/{newID}");
        }
        else
        {
            throw new NotImplementedException();
        }


        Console.WriteLine("Hi");
    }
}
