@inject IModalService Modal

<div class="control-container">
    <button @onclick="ClickAddOrganization"><Glyph IGlyph="AddGlyph" />Add Organization</button>
</div>

@code {
    private IGlyph AddGlyph { get; } = MaterialIconGlyph.Create("add_box");

    private void ClickAddOrganization()
    {
        Modal.Show<AddOrganization>("New Organization");
    }

}
