header.site-header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--main-color);
    background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 100%, 0.7));
    border-bottom: solid 1px var(--main-text-color);
    border-right: solid 1px var(--main-text-color);
    border-radius: 0px 0px 50px 0px;
    box-shadow: hsla(0, 0%, 0%, 1) 0px 0px 5px;
    z-index: 600;
}

header.site-header #nav-toggle {
    display: grid;
    place-items: center;
    width: 50px;
    cursor: pointer;
}

header.site-header .site-logo {
    width: 40px;
    height: 35px;
    box-sizing: border-box;
    padding: 2px 3px 3px 3px;
    font-size: 1.4em;
    color: var(--accent-color);
    background-color: var(--main-color);
    background-image: linear-gradient(-200deg, hsla(0, 0%, 0%, 0.2), hsla(0, 0%, 100%, 0.2));
    box-shadow: hsla(0, 0%, 0%, 0.7) 0px 0px 3px; 
    border: solid 2px var(--main-text-color);
    border-radius: 5px;
}
    header.site-header .site-logo:hover {
        background-image: linear-gradient(-200deg, hsla(0, 0%, 0%, 0.1), hsla(0, 0%, 100%, 0.3));
    }
    

@media (max-width: 500px) {
    header.site-header {
        border-radius: 0px;
        border-right: none;
    }

    header.site-header .site-logo {
        box-shadow: none;
    }
}