nav.gouda-nav-tree {
    grid-area: nav;
    background-color: var(--main-color);
    border-right: solid 1px var(--accent-color);
    overflow-y: auto;
    z-index: 500;
}

nav.gouda-nav-tree ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

nav.gouda-nav-tree gouda-glyph {
    flex-shrink: 0;
}

gouda-nav-section {
    display: block;
    border-bottom: solid 2px var(--accent-color);
}

gouda-nav-section > .title {
    display: grid;
    place-items: center;
    padding: 5px;
    font-weight: bold;
    color: var(--main-color);
    background-color: var(--accent-color);
    border-radius: 0px 0px 5px 5px;
    border-bottom: solid 1px var(--accent-text-color);
    box-shadow: black 0px 0px 5px inset;
    height: 40px;
}
    nav.gouda-nav-tree[aria-expanded="false"] gouda-nav-section > .title {
        display: none;
    }

a.gouda-nav-leaf {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--accent-text-color);
    text-decoration: none;
    height: 40px;
}
    a.gouda-nav-leaf gouda-glyph {
        width: 40px;
    }
    a.gouda-nav-leaf .title {
        width: 200px;
    }
    a.gouda-nav-leaf.group-leaf .title {
        padding-left: 10px;
        width: 240px;
    }
    nav.gouda-nav-tree[aria-expanded="false"] a.gouda-nav-leaf.root-leaf .title {
        display: none;
    }
    a.gouda-nav-leaf:hover,
    nav.gouda-nav-tree[aria-expanded="false"] a.gouda-nav-leaf.root-leaf:hover .title {
        background-image: linear-gradient(hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0.15));
    }
    nav.gouda-nav-tree[aria-expanded="false"] a.gouda-nav-leaf.root-leaf:hover .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        left: 40px;
        height: 40px;
        background-color: var(--main-color);
        border: solid 1px var(--accent-color);
        border-left: none;
        border-radius: 0px 5px 5px 0px;
    }

gouda-nav-group .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--accent-text-color);
    height: 40px;
    cursor: pointer;
}
    gouda-nav-group .header gouda-glyph {
        width: 40px;
    }
    gouda-nav-group .header .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    nav.gouda-nav-tree[aria-expanded="false"] gouda-nav-group .header .title {
        display: none;
    }
    gouda-nav-group .header .title .name {
        flex-grow: 1;
    }
    gouda-nav-group .header .title gouda-glyph {
        width: 25px;
    }
    gouda-nav-group .header .title gouda-glyph .material-icons::after {
        content: "arrow_drop_down";
    }
    gouda-nav-group[aria-expanded="true"] .header .title gouda-glyph .material-icons::after {
        content: "arrow_drop_up";
    }
    nav.gouda-nav-tree[aria-expanded="false"] gouda-nav-group[aria-expanded="true"] .header .title {
        padding-bottom: 1px;
        border-top: solid 1px var(--accent-color);
        border-right: solid 1px var(--accent-color);
        border-radius: 0px 5px 0px 0px;
    }
    nav.gouda-nav-tree[aria-expanded="true"] gouda-nav-group[aria-expanded="true"] .header {
        border-top: solid 1px var(--accent-color);
        border-bottom: solid 1px var(--accent-color);
    }
    gouda-nav-group .header:hover,
    nav.gouda-nav-tree[aria-expanded="false"] gouda-nav-group .header:hover .title,
    nav.gouda-nav-tree[aria-expanded="true"] gouda-nav-group[aria-expanded="true"] .header {
        background-image: linear-gradient(hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0.15));
    }
    nav.gouda-nav-tree[aria-expanded="false"] gouda-nav-group .header:hover .title,
    nav.gouda-nav-tree[aria-expanded="false"] gouda-nav-group[aria-expanded="true"] .header .title {
        display: flex;
        position: absolute;
        left: 40px;
        height: 40px;
        width: 200px;
        background-color: var(--main-color);
    }
    nav.gouda-nav-tree[aria-expanded="false"] gouda-nav-group[aria-expanded="false"] .header:hover .title {
        border-radius: 0px 5px 5px 0px;
    }

gouda-nav-group[aria-expanded="false"] .leaf-list {
    display: none;
}
nav.gouda-nav-tree[aria-expanded="true"] gouda-nav-group .leaf-list {
    background-image: linear-gradient(hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.5));
    border-bottom: solid 1px var(--accent-color);
}
nav.gouda-nav-tree[aria-expanded="false"] gouda-nav-group[aria-expanded="true"] .leaf-list {
    display: block;
    position: absolute;
    left: 40px;
    width: 197px;
    margin-left: 3px;
    background-color: var(--main-color);
    border: solid 1px var(--accent-color);
    border-top: none;
    border-radius: 0px 0px 5px 5px;
}

@media (max-width: 900px) {
    nav.gouda-nav-tree[aria-expanded="false"] {
        display: none;
    }

    nav.gouda-nav-tree[aria-expanded="true"] {
        grid-row-start: main;
        grid-row-end: footer;
        grid-column-start: main;
        grid-column-end: main;
        width: 240px;
        box-shadow: black 0px 0px 10px;
    }
}

@media (max-width: 500px) {
    nav.gouda-nav-tree[aria-expanded="true"] {
        width: 100%;
    }
}