nav.nav-tree {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    color: var(--accent-text-color);
    background-color: var(--main-color);
    border-right: solid 1px var(--accent-color);
    z-index: 500;
}

nav.nav-tree ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav.nav-tree .nav-row {
    height: 40px;
}

nav.nav-tree .nav-section {
    border-bottom: solid 3px var(--accent-color);
}

nav.nav-tree .nav-section-title {
    display: grid;
    place-items: center;
    background-color: var(--accent-color);
    border-bottom: solid 1px var(--accent-text-color);
    border-radius: 0px 0px 5px 5px;
    box-shadow: inset 0px 0px 7px hsla(0, 0%, 0%, 0.7);
}

nav.nav-tree .nav-group {
    display: flex;
    flex-direction: column;
    position: relative;
}

    nav.nav-tree .nav-group .nav-glyph-title {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

nav.nav-tree .nav-group-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

nav.nav-tree .nav-group-name {
    flex-grow: 1;
}

nav.nav-tree .nav-group-expand {
    display: grid;
    place-items: center;
    width: 30px;
}

    nav.nav-tree .nav-group-expand .material-icons::after {
        content: "arrow_drop_down";
    }
    nav.nav-tree .nav-group[aria-expanded="true"] .nav-group-expand .material-icons::after {
        content: "arrow_drop_up";
    }

nav.nav-tree .nav-leaf {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: unset;
    text-decoration: unset;
    position: relative;
}

    nav.nav-tree .nav-leaf .nav-glyph-title {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    nav.nav-tree[aria-expanded="true"] .nav-leaf:not(.root-leaf) .nav-glyph-title {
        padding-left: 10px;
    }

nav.nav-tree .nav-glyph {
    display: grid;
    place-items: center;
    width: 40px;
}

    nav.nav-tree .nav-glyph .material-icons {
        font-size: 1.7em;
    }

nav.nav-tree .nav-glyph-title {
    padding: 0px 5px;
    box-sizing: border-box;
    width: 200px;
}

nav.nav-tree[aria-expanded="true"] {
    background-image: linear-gradient(90deg, hsla(0, 0%, 0%, 0), hsla(0, 0%, 100%, 0.1));
}

nav.nav-tree[aria-expanded="false"] .nav-section-title {
    display: none;
}

nav.nav-tree .nav-group[aria-expanded="false"] .nav-leaf {
    display: none;
}

nav.nav-tree[aria-expanded="false"] .nav-glyph-title {
    display: none;
}

nav.nav-tree[aria-expanded="false"] .root-leaf:hover .nav-glyph-title {
    display: flex;
    position: absolute;
    left: 40px;
    background-color: var(--main-color);
    border-radius: 0px 5px 5px 0px;
}

nav.nav-tree[aria-expanded="false"] .nav-group:hover .nav-group-header .nav-glyph-title,
nav.nav-tree[aria-expanded="false"] .nav-group[aria-expanded="true"] .nav-group-header .nav-glyph-title {
    display: flex;
    position: absolute;
    left: 40px;
    background-color: var(--main-color);
}

nav.nav-tree[aria-expanded="false"] .nav-group[aria-expanded="true"] .nav-group-leaves {
    display: block;
    position: absolute;
    top: 40px;
    left: 40px;
    background-color: var(--main-color);
}

nav.nav-tree[aria-expanded="false"] .nav-group[aria-expanded="true"] .nav-group-leaves .nav-glyph-title {
    display: flex;
}

nav.nav-tree .nav-leaf:hover,
nav.nav-tree[aria-expanded="false"] .root-leaf:hover .nav-glyph-title {
    background-image: linear-gradient(hsla(0, 0%, 100%, 0.2), hsla(0, 0%, 100%, 0.2));
}

@media (max-width: 900px) {
    nav.nav-tree {
        grid-row-start: main;
        grid-row-end: footer;
        grid-column-start: 1;
        grid-column-end: 1;
        box-shadow: hsla(0, 0%, 0%, 1) 0px 0px 5px;
    }
        nav.nav-tree[aria-expanded="false"] {
            display: none;
        }
        nav.nav-tree[aria-expanded="true"] {
            width: 240px;
        }
}

@media (max-width: 500px) {
    nav.nav-tree[aria-expanded="true"] {
        width: 100%;
    }
}