gouda-status {
    display: block;
    margin: 3px;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px var(--main-text-color);
    text-align: center;
    background-image: linear-gradient(hsla(0, 0%, 0%, 0.1), hsla(0, 0%, 100%, 0.3));
}
    gouda-status.unknown {
        color: var(--accent-text-color);
        background-color: hsl(292, 93%, 17%);
    }
    gouda-status.fail {
        color: var(--accent-text-color);
        background-color: hsl(350, 90%, 43%);
    }
    gouda-status.warn {
        color: var(--main-text-color);
        background-color: hsl(53, 98%, 47%);
    }
    gouda-status.worried {
        color: var(--accent-text-color);
        background-color: hsl(213, 100%, 50%);
    }
    gouda-status.good {
        color: var(--main-text-color);
        background-color: hsl(104, 88%, 47%);
    }

gouda-add-satellite {
    display: inline-block;
    border: solid 3px var(--main-text-color);
    border-radius: 5px;
}
    gouda-add-satellite[aria-expanded="true"] {
        width: 500px;
    }

gouda-add-satellite form {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 10px;
    background-color: var(--main-text-color);
    background-image: linear-gradient(hsla(0, 0%, 100%, 0.9), hsla(0, 0%, 100%, 0.9));
    border-radius: 5px;
}

gouda-add-satellite .add-expander {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    cursor: pointer;
}
    gouda-add-satellite .add-expander .material-icons {
        font-size: 2.5em;
    }
    gouda-add-satellite .add-expander .material-icons::after {
        content: "add_circle";
    }
    gouda-add-satellite[aria-expanded="true"] .add-expander .material-icons::after {
        content: "remove_circle";
    }
    gouda-add-satellite .collapsed-title {
        margin: 5px;
        font-weight: bold;
    }

gouda-add-satellite[aria-expanded="false"] form {
    display: none;
}

.summary-table {
    width: 100%;
    border: solid 2px black;
    border-spacing: 0px;
    border-collapse: collapse;
}

.summary-table thead tr {
    background-color: var(--accent-color);
    background-image: linear-gradient(hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 100%, 0.5));
}

.summary-table thead th {
    padding: 10px;
    border: solid 1px black;
}

.summary-table td {
    padding: 5px;
    border: solid 1px black;
}

.summary-row a {
    display: block;
    padding: 10px 3px;
}

gouda-satellite {
    display: grid;
    place-items: center;
    grid-template-rows: 40px 125px 1fr;
    grid-template-areas:
        'name'
        'details'
        'checks';
}

gouda-satellite .satellite-name {
    grid-area: name;
    display: grid;
    place-items: center;
    font-weight: bold;
    font-size: 1.3em;
    padding: 5px;
    border: solid 1px var(--main-text-color);
    border-radius: 5px;
    background-color: var(--accent-color);
    background-image: linear-gradient(hsla(0, 0%, 100%, 0.1), hsla(0, 0%, 100%, 0.5));
    max-width: 500px;
    width: 100%;
}

gouda-satellite .satellite-details {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--main-color);
    background-image: linear-gradient(hsla(0, 0%, 100%, 0.6), hsla(0, 0%, 100%, 0.6));
    max-width: 500px;
    width: 100%;
}

gouda-satellite .satellite-checks {
    width: 100%;
}

gouda-satellite .satellite-checks .title {
    padding: 10px;
    font-weight: bold;
    border: solid 1px var(--main-text-color);
    border-radius: 5px 5px 0px 0px;
    background-color: var(--accent-color);
    background-image: linear-gradient(hsla(0, 0%, 100%, 0.1), hsla(0, 0%, 100%, 0.5));
}

gouda-satellite .check-row {
    width: 100%;
    min-height: 50px;
    border: solid 1px var(--main-text-color);
    border-top: none;
}

gouda-satellite .check-container .check-row:last-child {
    border-radius: 0px 0px 5px 5px;
}

@media (max-width: 550px) {
    gouda-add-satellite[aria-expanded="true"] {
        width: unset;
    }
}