body {
    margin: 0px;
    font-family: Verdana;
}

div.site-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 50px 1fr 35px;
    grid-template-areas: 
        'header header' 
        'nav main'
        'nav footer';
}

div.site-container main {
    grid-area: main;
    background-color: green;
}

@media (max-width: 400px) {
    div.site-container {
        grid-template-columns: 1fr;
        grid-template-rows: 40px 1fr 25px;
        grid-template-areas: 
            'header' 
            'main' 
            'footer';
    }

    div.site-container nav[aria-expanded="true"] {
        display: flex;
        grid-area: main;
        z-index: 500;
    }

    div.site-container nav {
        display: none;
    }
}