* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Verdana;
    color: var(--main-text-color);
}

a {
    color: var(--main-color);
}
    a:hover,
    a:focus {
        color: var(--accent-color);
    }

.empty-space {
    flex-grow: 1;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
    .flex-row.wrap-row {
        flex-wrap: wrap;
    }

div.site-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 50px 1fr 35px;
    grid-template-areas: 
        'header header' 
        'nav main'
        'nav footer';
}

div.site-container main {
    grid-area: main;
    overflow: auto;
}

@media (max-width: 900px) {
    div.site-container {
        grid-template-columns: 1fr;
        grid-template-rows: 40px 1fr 25px;
        grid-template-areas: 
            'header' 
            'main' 
            'footer';
    }
}

@media (max-width: 700px) {
    .flex-row.wrap-row {
        flex-direction: column;
        align-items: stretch;
    }
}