@model AddSatelliteViewModel
@{ 
    var nothingGlyph = MaterialIconGlyphViewModel.Nothing;
}
<div class="satellite-add" aria-expanded="false">
    <div class="add-expander">
        <gouda-viewModel view-model="nothingGlyph" />
        <div class="collapsed-title"><gouda-label key="@Model.AddForm.Label" /></div>
    </div>
    <gouda-viewModel view-model="Model.AddForm" />
</div>