@model WebAppViewModel<AddSatelliteViewModel>
@{ 
    AddSatelliteViewModel addSatellite = Model.Wrapped;
    var nothingGlyph = MaterialIconGlyphViewModel.Nothing;
}
<gouda-add-satellite aria-expanded="false">
    <div class="add-expander">
        <gouda-viewModel view-model="nothingGlyph" />
        <div class="collapsed-title"><gouda-label key="@addSatellite.Label" /></div>
    </div>
    <form>
        <gouda-viewModel id="satellite-name" view-model="addSatellite.SatelliteNameInput" />
        <gouda-viewModel id="satellite-ip" view-model="addSatellite.SatelliteIPInput" />
        <gouda-viewModel view-model="addSatellite.AddSatelliteButton" />
    </form>
</gouda-add-satellite>