@model WebAppViewModel<CheckControlsViewModel>
<gouda-check-controls>
    <div class="empty-space"></div>
    <gouda-viewModel view-model="Model.Wrapped.AddCheckButton" />
    <gouda-viewModel view-model="Model.Wrapped.DeleteCheckButton" />
</gouda-check-controls>