@model WebAppViewModel<CheckControlsViewModel>
<gouda-check-controls class="flex-row check-row">
    <div class="empty-space"></div>
    <gouda-viewModel id="getAddCheck" view-model="Model.Wrapped.GetAddCheckButton" />
    <gouda-viewModel id="deleteCheck" view-model="Model.Wrapped.DeleteCheckButton" />
</gouda-check-controls>