@model WebAppViewModel<SatelliteSummaryViewModel>
@{ 
    SatelliteSummaryViewModel summary = Model.Wrapped;
}
<tr class="summary-row">
    <td><a href="@Url.Action(nameof(SatelliteController.Display), SatelliteController.Name, new { id = summary.ID })">@summary.Name</a></td>
    <td>@summary.IPAddress</td>
    <td><gouda-viewModel view-model="summary.StatusViewModel"></gouda-viewModel></td>
</tr>