@model SummaryCollectionViewModel
<table class="summary-table">
    <thead>
        <tr>
            <th><gouda-label key="@Model.NameHeaderLabel" /></th>
            <th><gouda-label key="@Model.IPHeaderLabel" /></th>
            <th><gouda-label key="@Model.StatusHeaderLabel" /></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var satellite in Model.Satellites)
        {
            <gouda-viewModel view-model="satellite" />
        }
    </tbody>
</table>