.cell {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    cursor: default;
}

    .cell:not(.selected):hover {
        background-color: rgb(199, 199, 199);
        transition: background-color linear .3s;
        cursor: pointer;
    }

#cell-0 {
    border-right: solid 1px black;
    border-bottom: solid 1px black;
}

#cell-1 {
    border-bottom: solid 1px black;
}

#cell-2 {
    border-left: solid 1px black;
    border-bottom: solid 1px black;
}

#cell-3 {
    border-right: solid 1px black;
}

#cell-5 {
    border-left: solid 1px black;
}

#cell-6 {
    border-top: solid 1px black;
    border-right: solid 1px black;
}

#cell-7 {
    border-top: solid 1px black;
}

#cell-8 {
    border-top: solid 1px black;
    border-left: solid 1px black;
}
