<nav class="nav-tree" aria-expanded="@ExpandedAttributeValue">
    <NavigationItem Destination="/" Glyph="@MaterialIconGlyph.Create("home")" Description="Home" OnClick="OnClick" />
    <NavigationItem Destination="/Organizations" Glyph="@MaterialIconGlyph.Create("device_hub")" Description="Organizations" OnClick="OnClick" />
</nav>

@code {
    [Parameter]
    public bool Expanded { get; set; }
    private string ExpandedAttributeValue => Expanded.ToString().ToLower();

    [Parameter]
    public EventCallback OnClick { get; set; }
}